:root {
	--color--white: 255, 255, 255;
	--color--primary-500: 3, 3, 3;
	--color--surface-100: eee;
	--color--surface-500: ddd;
	--color--surface-600: ccc;
	--color--gray-500: ddd;
	--color--gray-600: ccc;
}
