:root {
	/* Header */
	--header--height: 44px;
	@apply md:[--header--height:100px];

	/* Sidebar */
	--sidebar--width: 240px;

	/* Contents Width */
	--contents--width: 1100px;
	--contents--width--large: 1240px;
	--contents--padding--side: 20px;
	--contents--width-with-padding: calc(
		var(--contents--width) + var(--contents--padding--side) * 2
	);
}
