@import '../mixins/_mediaQuery.css';

:root {
	/* Space Section */
	--section--space--2xs: 40px;
	--section--space--xs: 50px;
	--section--space--sm: 60px;
	--section--space--md: 70px;
	--section--space--lg: 80px;
	--section--space--xl: 90px;
	--section--space--2xl: 100px;
	@mixin mq-up md {
		--section--space--2xs: 60px;
		--section--space--xs: 75px;
		--section--space--sm: 90px;
		--section--space--md: 105px;
		--section--space--lg: 120px;
		--section--space--xl: 135px;
		--section--space--2xl: 150px;
	}
	@mixin mq-up lg {
		--section--space--2xs: 80px;
		--section--space--xs: 100px;
		--section--space--sm: 120px;
		--section--space--md: 140px;
		--section--space--lg: 160px;
		--section--space--xl: 180px;
		--section--space--2xl: 200px;
	}
}
