:root {
	/* Space Section */
	--section--space--2xs: 40px;
	--section--space--xs: 50px;
	--section--space--sm: 60px;
	--section--space--md: 70px;
	--section--space--lg: 80px;
	--section--space--xl: 90px;
	--section--space--2xl: 100px;

	@apply md:[--section--space--2xs:60px];
	@apply md:[--section--space--xs:75px];
	@apply md:[--section--space--sm:90px];
	@apply md:[--section--space--md:105px];
	@apply md:[--section--space--lg:120px];
	@apply md:[--section--space--xl:135px];
	@apply md:[--section--space--2xl:150px];

	@apply lg:[--section--space--2xs:80px];
	@apply lg:[--section--space--xs:100px];
	@apply lg:[--section--space--sm:120px];
	@apply lg:[--section--space--md:140px];
	@apply lg:[--section--space--lg:160px];
	@apply lg:[--section--space--xl:180px];
	@apply lg:[--section--space--2xl:200px];
}
