@import 'tailwindcss/base';

@import '../styles/mixins/_mediaQuery.css';
@import '../styles/vars/_font.css';
@import '../styles/vars/_layout.css';
@import '../styles/vars/_color.css';
@import '../styles/vars/_space.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	/* Typograpy */
	body {
		@apply text-md leading-md text-primary-500;
	}

	* {
		@apply tracking-md;
	}

	/* Image */
	img {
		@apply object-cover;
	}

	/* a11y */
	input,
	select,
	textarea {
		@apply border border-solid border-primary-500;
	}

	a,
	input,
	select,
	textarea,
	button,
	details,
	[tabindex] {
		&:focus-visible {
			outline: 2px solid rgb(var(--color--focus));
		}
	}

	[aria-current] {
		@apply font-bold;
	}

	summary {
		@apply block;
	}
	summary, button {
		@apply cursor-pointer;
	}
}

/* Hover */
@layer utilities {
	.animation-zoom {
		.animation-zoom__img {
			display: inline-block;
			transition: transform 0.3s ease;
			transform: scale(1);
			will-change: transform;
		}

		&:hover {
			.animation-zoom__img {
				transform: scale(1.2);
			}
		}
	}
}
