@import url('tailwindcss/base');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');
@import url('../styles/vars/_font.css');
@import url('../styles/vars/_layout.css');
@import url('../styles/vars/_color.css');
@import url('../styles/vars/_space.css');

@layer base {
	/* Typograpy */
	body {
		@apply text-md leading-md text-primary-500;
	}

	* {
		@apply tracking-md;
	}

	/* Image */
	img {
		@apply object-cover;
	}

	/* a11y */
	input,
	select,
	textarea {
		@apply border border-solid border-primary-500;
	}

	a,
	input,
	select,
	textarea,
	button,
	details,
	[tabindex] {
		@apply focus-visible:outline-2 outline-accent-500;
	}

	[aria-current] {
		@apply font-bold;
	}

	summary {
		@apply block;
	}

	summary,
	button {
		@apply cursor-pointer;
	}
}

/* Hover */
@layer utilities {
	.animation-zoom {
		.animation-zoom__img {
			display: inline-block;
			transition: transform 0.3s ease;
			transform: scale(1);
			will-change: transform;
		}

		&:hover {
			.animation-zoom__img {
				transform: scale(1.2);
			}
		}
	}
}
