@import url('../vars_sass/_breakpoint.css');

/* media query up */
@define-mixin mq-up $breakpoint: md {
	$viewportUp: --viewport-$(breakpoint)-up;

	@media $viewportUp {
		@mixin-content;
	}
}

/* media query down */
@define-mixin mq-down $breakpoint: md {
	$viewportDown: --viewport-$(breakpoint)-down;

	@media $viewportDown {
		@mixin-content;
	}
}

/* media query between */
@define-mixin mq-range $breakpointUp, $breakpointDown {
	$viewportUp: --viewport-$(breakpointup)-up;
	$viewportDown: --viewport-$(breakpointdown)-down;

	@media $viewportUp and $viewportDown {
		@mixin-content;
	}
}

/* breakpoint min */
@custom-media --viewport-min-down (width < $breakpoint-min);

/* breakpoint sm */
@custom-media --viewport-sm-down (width < $breakpoint-sm);
@custom-media --viewport-sm-up (width >= $breakpoint-sm);

/* breakpoint md */
@custom-media --viewport-md-down (width < $breakpoint-md);
@custom-media --viewport-md-up (width >= $breakpoint-md);

/* breakpoint lg */
@custom-media --viewport-lg-down (width < $breakpoint-lg);
@custom-media --viewport-lg-up (width >= $breakpoint-lg);

/* breakpoint xl */
@custom-media --viewport-xl-down (width < $breakpoint-xl);
@custom-media --viewport-xl-up (width >= $breakpoint-xl);
